doctype html
html(lang='en')
  head
    title Email confirmation
    style
      include style.css
  body
    .container
      if error
        h1.header Confirmation error!
      else
        h1.header Confirmed successfully!

